.cartCounterContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.counter {
    font-size: 24px;
    color: white;

}


.cartSvg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.active svg {
    fill: gold;
}