.card {
   
        background-color: lightgray;
        border-radius: 10px;
        padding: 10px;
        position: relative;


    .image {
        width: 270px;
        height: 393px;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
      
    }

    .productName {
        color: #3C4242;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.9;
       
    }


    .productPrice {
        color: #807D7E;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.6;
        position: absolute;
        bottom: 0;
        right: 15px;
        
    }

    .addToCartBtn {
  
        background: #2d4373;
        color: white;
        padding: 8px 12px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        border-radius: 7px;
        margin: 0 auto;
      
      
        &:hover {
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          background: darkblue;
        }
      
        &:active {
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
      
}

}