.container {
    margin-top: 150px;
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.totalPrice {
    font-size: 32px;
    padding: 20px;
    background-color: transperent;
    border-radius: 15px;
    align-self: end;
}